@import "./theme/colors";
@import "./theme/fonts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Avenir Next";
  font-size: 16px;
  color: white;
}

.container {
  position: relative;
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  background: $black;
  box-shadow: 0 0 10px #000;
  padding-bottom: 67px;
}

@import "./components/header";
@import "./components/hero";
@import "./components/bottom-bar";
@import "./components/button";
